img {
    width: 50%;
 }
 .card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10%;
    grid-column-gap: 10%;
 
 
 }
 
 
 .hiding{
    filter: brightness(0%);
 }
 
 
 .show{
    filter: brightness(100%)
 }
 
 
 #score{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 96, 96);
    color: aqua;
    font-size: 4em;
    font-weight: 700;
    margin-top: 50px;
 }
 